<h1>About rscu</h1>
<br>
<div class="row">
  <div class="span9">
    <p>
      It's a big deal when someone says that they're down. We try our best to wear a positive face online. 
      Use rscu so you don't miss when one of your friends is in need.
    </p>
    
    <p>We'll show you status updates from your friends when things aren't going well.</p>
  </div>
</div>