<header style="padding-top: 0px;" class="jumbotron masthead">
  <div class="inner">
    <h1 style="font-size: 50px; text-shadow: 0px 1px 1px #fff">Watch over your network.</h1>    
    <p>See when your friends are feeling down.

<center>
<button style="margin-top: 30px; padding: 15px; width: 400px; font-size: 26px; display: block;" class="blue-pill" data-toggle="modal" href="#myModal" >Connect</a>
</center>
    </p>

  </div>
</header>

<p>

  
  


</p>


<% if @updates %>

<ul>
  <% @updates.each do |s| %>
    <div style="background-color: #fff; border: 1px solid #999; max-width: 100%;" class="well drop-shadow lifted">
      <% begin %>
      <li class="people">
        <div class="status"><%= s["map"]["text"] %></div>
        <div class="name"><%= link_to s["map"]["author"]["name"], s["map"]["author"]["url"] %></div>
      </li>
      <% rescue %>
      <% end %>
    </div>
  <% end %>
</ul>

<% end %>



<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Connect to your friends</h3>
  </div>
  <div class="modal-body">
     <% %w[facebook twitter].each do |service| %>
  <ul class="services">
    <li class="service-name">
      <%= service.capitalize %>
      <% if @profiles && @profiles[service] %>
        <div class="service-is-connected">
          is connected
          <% @profiles[service] %>
        </div>
      <% else %>
        <div class="service-not-connected">
        <%= link_to "Connect", "/auth/singly?service=#{service}", :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </li>
  </ul>
  <% end %>
  </div>
</div>